<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Another HTML project</h1>
    <p>
        This is just my contact page,
        I don't really know what to put here so I 
        guess I'll just let you know that I'm a
        single pringle and ready to mingle!
    </p>
    <p>
        My favorite part of coding is where we get to hide things
        eventually. Now this isn't hidden but feel free to connect with me here:
        <a href="https://www.linkedin.com/in/leenpham/">LinkedIn Link</a>
    </p>
    <div>
        <div>I'm</div>
        <div>So</div>
        <div>Lonely</div>
        <div>.... LONELYYYY</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like to pretend I'm cool</div>
</footer>